@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Lobster&family=Pacifico&display=swap');

header, footer {
    background-color: red;
}

p {
    font-family: 'Comforter'; 
    font-weight: 400;
    font-size: 36px;
    color: purple;
}

#error {
    font-size: 72pt;
    color:purple;
    padding-left: 500px;
}
